{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
    <div class="flex flex-col gap-1">
        {{ form_label(form, null, { 'label_attr': {'class': 'form-label'} }) }}
        {{ form_widget(form) }}
        <span class="text-sm text-muted">{{ form_help(form) }}</span>
        {% if form.vars.errors %}
            <div class="form-error">
                {{ form_errors(form) }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block switch_row %}
    <div class="flex flex-col">
        <div>
            <label for="{{ form.vars.id }}" class="switch-container">
                <input type="checkbox" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" class="switch-input peer"
                       {% if checked %}checked{% endif %}/>
                <div class="switch-slider"></div>
                <div>
                    <span class="switch-label">{{ label }}</span>
                </div>
            </label>
        </div>
        <span class="text-sm text-muted mt-1">{{ help }}</span>
    </div>
{% endblock %}