{{ form_start(form, {
    attr: {
        class: 'space-y-5'
    }
}) }}

    {{ form_row(form.title) }}
    {{ form_row(form.author) }}
    {{ form_row(form.summary) }}
    {{ form_row(form.publishedAt) }}
    {{ form_row(form.category) }}
    {{ form_row(form.isAvailable) }}

<div class="pt-4 border-t">
    <button class="inline-flex btn btn-primary">
        {{ button_label|default('Enregistrer') }}
    </button>
</div>

{{ form_end(form) }}
